test20170619/Web References/n127_0_0_1/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SayHello">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserDetails" type="tns:UserDetails" />
      <s:complexType name="UserDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloSoapIn">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="SayHelloSoapOut">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="SayHelloUserDetails">
    <wsdl:part name="UserDetails" element="tns:UserDetails" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpGetIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpPostIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TestServiceSoap">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloSoapIn" />
      <wsdl:output message="tns:SayHelloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TestServiceHttpGet">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloHttpGetIn" />
      <wsdl:output message="tns:SayHelloHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TestServiceHttpPost">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloHttpPostIn" />
      <wsdl:output message="tns:SayHelloHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestServiceSoap" type="tns:TestServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SayHelloUserDetails" part="UserDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestServiceSoap12" type="tns:TestServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="http://tempuri.org/SayHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SayHelloUserDetails" part="UserDetails" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestServiceHttpGet" type="tns:TestServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SayHello">
      <http:operation location="/SayHello" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestServiceHttpPost" type="tns:TestServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SayHello">
      <http:operation location="/SayHello" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="TestServiceSoap" binding="tns:TestServiceSoap">
      <soap:address location="http://127.0.0.1:8080/TestService.asmx" />
    </wsdl:port>
    <wsdl:port name="TestServiceSoap12" binding="tns:TestServiceSoap12">
      <soap12:address location="http://127.0.0.1:8080/TestService.asmx" />
    </wsdl:port>
    <wsdl:port name="TestServiceHttpGet" binding="tns:TestServiceHttpGet">
      <http:address location="http://127.0.0.1:8080/TestService.asmx" />
    </wsdl:port>
    <wsdl:port name="TestServiceHttpPost" binding="tns:TestServiceHttpPost">
      <http:address location="http://127.0.0.1:8080/TestService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>